.nav {
    padding-top: 4px;
    padding-bottom: 4px;
}
.nav ul {
    padding-left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}
.nav li {
  display: inline;
}

.jumbotron {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
.jumbotron h1 {
    margin-top: 0;
    margin-bottom: 0;
    -webkit-font-smoothing: antialiased;
    text-shadow:  0 1px 8px rgba(0, 0, 0, 0.6);
}
.jumbotron p {
    margin-top: 0;
     text-shadow:  0 -1px 1px rgba(0, 0, 0, 0.6);
}
.jumbotron a {
    font-size: 20px;
    color: #00b0ff;
}
.jumbotron {
  background-image:url('http://goo.gl/04j7Nn');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}
